/*
ColorChart
color 1: 		#155980
color 2: 		#1970a1
color 3: 		#1183c4
color 4: 		#1577af
green accent: 	#56a32a
yellow: 		#f79700
emerald:		#08bc94
redtv:			#ce313f
bluseguridad:	#003d6f
transito:		#ffc800
aseo:			#bd355b
rentas:			#4e5b91
obras:			#ff801a
medioambiente:	#56a32a
dideco:			#008e82
prodesal:		#77ddd7
presupuesto:	#4e5b91s
*/
.clr-1	{ background-color:#155980}
.clr-2	{ background-color:#1970a1}
.clr-3	{ background-color:#1183c4}
.clr-4	{ background-color:#1577af}
.clr-5	{ background-color:#56a32a}
.clr-6	{ background-color:#f79700}
.clr-7	{ background-color:#08bc94}
.clr-8	{ background-color:#ce313f}
.clr-9	{ background-color:#003d6f}
.clr-10	{ background-color:#ffc800}
.clr-11	{ background-color:#bd355b}
.clr-12	{ background-color:#4e5b91}
.clr-13	{ background-color:#ff801a}
.clr-14	{ background-color:#56a32a}
.clr-15	{ background-color:#008e82}
.clr-16	{ background-color:#77ddd7}
.clr-17	{ background-color:#4e5b91}

/*******************************************************************************************/
/*************************************Style Carlos************************************************/
/*******************************************************************************************/


/* Auxiliares */
.pd0{padding:0;}
.pleft15{padding-left: 15px;}
.pright10{padding-right:10px;}
.pright15{padding-right: 15px;}

/* PAGE COMÚN */
.named{padding-top: 14.95%;}
.titular h1, .named h1{font-size:26px; font-family: 'Pluto'; text-align: right; color:#fff;}
ul.titular li{text-align: right; font-family: Georgia, serif; font-size:14px; color:#fff; float:right; clear:both; }

/* TEMPLATE SALUD */
/* Encabezado Contenido*/
main#salud{margin-top:50px;}
figcaption.health{text-align:left; background:rgba(86, 163, 42, 0.6); padding:10px 10px;}
figcaption.health p{font-family: 'Pluto'; font-size: 25px; font-weight: 900; color: #fff; padding: 15px 0 5px;}
.health img{background: #3a7816; border-radius: 50%; width: 100%; height: auto; max-width: 70px; padding: 10px; float: left; margin-right:10px;}

/*Sidebar izquierdo*/
.cesfam h3 a, .postas h3 a{color:#fff; text-align:left; font-size:15px; padding:10px; margin-bottom: 0; margin-top:0; 
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}
.cesfam h3 a:hover, 
.postas h3 a:hover{color: rgba(255, 255, 255, 0.7); text-align:left; font-size:15px; padding:10px; margin-bottom: 0; margin-top:0; text-decoration:none;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}
.cesfam p, .postas p{color:#fff; font-family: Georgia, serif; font-size:14px; text-align: left; line-height:140%; padding:0 10px 10px; font-style: italic;}
.cesfam{background:#56a32a; border-top: 50px solid #3a7816; margin-bottom: 20px;}
.postas{background:#1970a1; border-top: 50px solid #155980; margin-bottom:20px;}

/* Circulos icónicos */
.circle{border-radius: 50px; width: 90px; height: 90px; margin: -40px auto 0; text-align: center;}
.circle.clr-2{background:url(images/servicios.png) -105px 290px #155980;}
.circle.clr-14{background: url(images/servicios.png) -5px -205px #3a7816;}

/* Contenido */
.health-content h3{margin-top:0;}
.health-content p{font-style: normal; text-align: left; font-family:Georgia, serif; line-height: 160%; color:#5d5d5d; font-size:16px;}

/* Contenido Relacionado */
.health-prefoot h2{color:#155980; font-family: 'Pluto'; text-align: left; font-size:25px; font-weight:900;}
.health-prefoot h3{color:#1183c4; font-family: 'Pluto'; text-align: left; font-size: 14px; font-weight:600;}
.health-prefoot p{color:#5d5d5d; font-style: italic; font-size:14px; line-height:1.42857143; font-family: Georgia, serif;}


/* TEMPLATE EDUCACIÓN */
/* Encabezado Contenido*/
main#educacion{margin-top:50px;}
figcaption.teach{text-align:left; background:rgba(86, 163, 42, 0.6); padding:10px 10px;}
figcaption.teach p{font-family: 'Pluto'; font-size: 25px; font-weight: 900; color: #fff; padding: 15px 0 5px;}
.teach img{background: #3a7816; border-radius: 50%; width: 100%; height: auto; max-width: 70px; padding: 10px; float: left; margin-right:10px;}

/* Pestañas de contenido */
.nav-tabs.col-md-12{margin-top:0;}
.nav-tabs>li.col-md-4 a:hover{border: 2px solid #003252; background: #f2f2f2 !important;}
.nav-tabs>li.col-md-4{float:left;  padding: 2px}
.nav-tabs>li.col-md-4.last{margin-right:0;}
.nav-tabs>li.active.col-md-4 a{background:#003252 !important; color:#fff !important; font-size:17px; font-family: 'Pluto'; text-align: center; border-radius: 5px; cursor:pointer;}
.nav-tabs>li.col-md-4 a{background: #fff !important; color: #003252 !important; font-size: 17px; font-family: 'Pluto'; text-align: center; padding: 20px 0px 0; line-height: 100%; height: 59px; width: 100%; border: 2px solid #003252;
border-radius: 5px;}
.teachtab[role="tabpanel"] h3{text-align: left; font-size:26px; }
.teachtab[role="tabpanel"] p{}

/* Sidebar Noticias Educación */
.teachnews h2{text-align: left; font-weight: 900; font-size: 26px;}
.teachnews h3{font-family: 'Pluto'; font-size: 16px; text-align: left; color: #1183c4;}
.teachnews p{font-style: italic; line-height: 130%;}

/* TEMPLATE MUNICIPIO */
section#slider .clr-2.skk:after{background-color:#1970a1}

/* Estilos Responsive */
@media screen and (min-width: 1024px){}
@media (max-width:1023px) and (min-width: 935px){}
@media (max-width:934px) and (min-width: 768px){}
@media (max-width:767px) and (min-width: 641px){}
@media (max-width: 640px){
	/* Auxiliares*/
	.bootpd15mob{padding:0 15px;}

	/* SALUD */
	.cesfam,.postas{margin-bottom:30px; z-index:999;}
	.health-prefoot h2{padding-left: 15px}
}
